<footer class="footer">
	<p><a rel="license" target="_blank" href="http://creativecommons.org/licenses/<%= theme.license %>/4.0/">
	<img alt="Creative Commons License" style="border-width:0;vertical-align:middle;" src="/assets/images/cc-<%= theme.license %>.svg" /></a></p>
	<p><%=config.title %> &copy;2014~<%= date(new Date(), 'YYYY') %>.</p>
	<p>Power by <a target="_blank" href="https://hexo.io/">Hexo</a> & Theme <a target="_blank" href="https://github.com/yscoder/hexo-theme-indigo">Indigo</a></p>
	<a href="<%= theme.rss %>" target="_blank" class="rss" title="rss"><i class="icon icon-2x icon-rss-square"></i></a>
</footer>