<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>Live For Code</title>
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <link type="text/css" rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <script type="text/javascript" src="<%= theme.Script.jQuery %>"></script>
</head>
<body>
    <%- partial('_partial/cover') %>
    <%- partial('_partial/index/header') %>
    <%- partial('_partial/index/container') %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/sidebar') %>
    <%- partial('_partial/search') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/config') %>
    <script type="text/javascript" src="<%= theme.Script.index %>"></script>
</body>
</html>
kan