<head>
    <%- partial('plugins/google-analytics') %>
    <%- partial('plugins/tajs') %>
    <%- partial('plugins/baidu') %>
    <meta charset="utf-8">
    <!-- HTTP 1.1 -->  
    <meta http-equiv="pragma" content="no-cache">  
    <!-- HTTP 1.0 -->  
    <meta http-equiv="cache-control" content="no-cache">
    <!-- 微博图床防盗链 --> 
    <meta name="referrer" content="no-referrer"/>
    <!--Google站点验证-->
    <% if(theme.google_site_verification){ %>
        <meta name="google-site-verification" content="<%- theme.google_site_verification%>">
    <% } %>
    <!--Google站点验证-->
    <meta name="baidu-site-verification" content="c50FGqYOSh" />
    <% if(theme.canonical){ %>
        <link rel="canonical" href="<%- (theme.canonical + url_for(page.path)).replace(/index\.html$/, '') %>">
    <% } %>
    <!--Google AdSense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8485009880440519",
    enable_page_level_ads: true
    });
    </script>
    <%
        var title = page.title;
        if (is_archive()){
            title = theme.archives_title || '归档';

            if (is_month()){
            title += ': ' + page.year + '/' + page.month;
            } else if (is_year()){
            title += ': ' + page.year;
            }
        } else if (is_category()){
            title = (theme.categories_title || '分类') + ': ' + page.category;
        } else if (is_tag()){
            title = (theme.tags_title || '标签') + ': ' + page.tag;
        }
    %>
    <title>
        <% if (title){ %><%= title %> - <% } %><%= config.title %><% if (config.subtitle && is_home()){ %> - <%= config.subtitle %><% } %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if(theme.color){ %>
        <meta name="theme-color" content="<%=theme.color%>">
    <% } %>
    <meta name="keywords" content="<%= config.keywords %>">
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% }else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } %>
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <%- favicon_tag(theme.favicon) %>
    <% if (theme.pwa){ %>
        <link rel="manifest" href="<%- theme.pwa.manifest %>">
    <% } %>
    <link rel="stylesheet" href="<%- url_for(theme_css('/assets/styles/style', cache)) %>">
    <script>window.lazyScripts=[]</script>
    <!-- custom head -->
    <% if (site.data.head) { %>
        <% for (var i in site.data.head) { %>
            <%- site.data.head[i] %>
        <% } %>
    <% } %>

</head>
